    {{!-- <h2>{{name}}</h2>

  <ul>
    <li>Location: {{location}}</li>
    <li>Type: {{type}}</li>
    <li>Description: {{description}}</li>
  </ul>

  <img class="monster-img" src="/images/{{name}}.png" alt="A monster called {{name}}"> --}}


{{!-- ///////////////////////////// --}}
{{!-- <img class=”frame-art” src=”https://image.ibb.co/fqdLEn/nissa.jpg" alt=”nissa art”> --}}
{{>navbar}}
<div class="card-container">

  <div class="card-background">

    <div class="card-frame">

      <div class="frame-header">
        <h2 class="name" >{{name}}</h1>
        <h2 class="type">{{type}}</h1>
      
      </div>
        <img class="monster-img" src="/images/{{name}}.png" alt="A monster called {{name}}">
      



      <div class="frame-text-box">
        
        <p class="description ftb-inner-margin">{{description}}</p>
        
        
      
      </div>

      <div class="frame-bottom-info inner-margin">
        <div class="fbi-left">
          <p>140/184 R</p>
        </div>

        <div class="fbi-center"></div>

        <div class="fbi-right">
          &#x99; &amp; &#169; 2023 Monsta Hunters
        </div>
      </div>

    </div>

  </div>

</div>